services:
  - type: web
    name: visual-perspectives
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DB_PATH
        value: gallery.db
      - key: UPLOAD_FOLDER
        value: static/uploads
